.title {
    text-align: center;
}

.container {
    background-color: rgba(175, 175, 175, 0.637);
    padding: 18px;
    margin: 0 auto;
    width: 60%;
    border-radius: 16px;
    font-family: sans-serif;
}